.genius-navbar {
    display: flex;
    width: 100%;
    height: 2.5rem;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 2.5px solid #e5e5e5;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    padding: 1rem;
}

.genius-navbar-title {
    margin-top: 0.6rem;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 500;
}
