.card {
    display: flex;
    flex-direction: row-reverse;
    margin: 55px 150px 150px 150px;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.reverse {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 145px;
}

.card-button {
    width: 275px;
    margin-top: 40px;
}

.card-content {
    align-self: center;
    margin-right: 75px;
}

.card-content h3 {
    font-weight: 400;
    color: black;
}

.card-content h1 {
    font-size: 30px;
    font-weight: 800;
    color: black;
}

.reverse .card-content {
    margin-left: 35px;
}
