body {
    margin: 0;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

/* navbar styles */

.genius-navbar {
    width: 100%;
    z-index: 1;
    height: 2.5rem;
    border-bottom: 2.5px solid #e5e5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    padding: 1rem;

}

.genius-navbar-title {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 500;

}

/* */

/* footer styles */

.genius-footer {
    display: flex;
    background-color: #323232;
    padding: 1rem;
    padding-top: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h3.genius-footer-title {
    color: white;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.genius-footer-copyright {
    color: white;
    font-size: 1rem;    
}
.genius-footer ul h4 {
    color: #8a8989;
    font-size: 1rem;
}

.genius-footer ul h4 i {
    font-size: 0.9rem;
}

.genius-footer-info h4, .genius-footer-action h4 {
    margin: 0.9rem 0 0.9rem 0;
}

.genius-footer-info a, .genius-footer-action a {
    color: white;
    text-decoration: none;
    border-bottom: 0.1px solid grey;
}

.genius-footer-social {
    width: 15rem;
    margin-left: 7rem;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.genius-footer-social button {
    padding: 1rem;
    width: 50%;
}
.genius-footer-social a {
    text-decoration: none;
    color: black;
    font-family: inherit;
}


/* */