.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem 0 3rem;
}

.title {
    margin-top: 115px;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 2.5rem;
}

.pagebreak {
    border-top: solid 1px #d4d4d4;
    width: 80%;
    align-self: center;
    white-space: pre-line;
}

.spacing {
    margin-top: 200px;
}
