:root {
    --border-radius: 15px;
}

.genius-card {
    width: 26.5%;
    border-radius: var(--border-radius);
    margin: 20px;
    box-shadow: 0 2px 4px 0 rgba(16, 24, 40, 0.05);
    background-color: white;
    border: 1.5px solid #CAC4D0;
}

.genius-card-content {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: var(--border-radius);
    min-height: fit-content;
    padding: 0 20px 10px 20px;
}

.genius-card-title {
    margin-top: 6px;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}

.genius-card-subtitle {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.1rem;
    color: black;
}

.button-icon {
    position: relative;
    top: 3px;
    left: 10px;
}

.genius-button {
    font-size: 18px;
    width: 30%;
    padding: 12px 6px 12px 2px;
    margin-right: 10px;
    margin-bottom: 20px;
    align-self: end;
}

.genius-image {
    max-width: 100%;
    height: auto;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
